@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
/deep/ .completer-dropdown {
    max-height: 200px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    width:100% !important;
    position: relative !important;
    
}
