<form [formGroup]="addHeaderForm" class="form-horizontal">    
        
    <!--success,info,warning,danger-->
    <ngbd-alert-closeable class="row" *ngIf="isSuccess == 1" [alertType]="'success'" [alertMessage]="'Header Details saved successfully!'"></ngbd-alert-closeable>
    <ngbd-alert-closeable class="row" *ngIf="isSuccess == -1" [alertType]="'danger'" [alertMessage]="'Failed to save Header Details. Please try again.'"></ngbd-alert-closeable>    

    <ba-card title="Prescription Letter Head">      
        <div class="form-group">
            <ba-card title="Doctor's Details">
                <div class="control-group">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.doctorName" class="form-control" placeholder="Doctor's Name" formControlName="docName">
                        <small [hidden]="!addHeaderForm.controls.docName.hasError('required')" style="color:red;">
                            Doctor's Name is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.degree" class="form-control" placeholder="Degree" formControlName="degree">
                        <small [hidden]="!addHeaderForm.controls.degree.hasError('required')" style="color:red;">
                            Degree is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.specialization" class="form-control" placeholder="Secialization" formControlName="specialization">
                        <small [hidden]="!addHeaderForm.controls.specialization.hasError('required')" style="color:red;">
                            Specialization is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.mobile" class="form-control" placeholder="Mobile Number" formControlName="mobile">                        
                        <small [hidden]="!addHeaderForm.controls.mobile.hasError('minlength')" style="color:red;">
                            Mobile Number should contain 10 digits.
                        </small>
                        <small [hidden]="!addHeaderForm.controls.mobile.hasError('maxlength')" style="color:red;">
                            Mobile Number should contain 10 digits.
                        </small>
                        <small [hidden]="!addHeaderForm.controls.mobile.hasError('pattern')" style="color:red;">
                            Mobile Number should only contain numbers.
                        </small>
                    </div>
                </div>
            </ba-card>

            <ba-card title="Chamber Details">
                <div class="control-group">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.chamberName" class="form-control" placeholder="Chamber Name" formControlName="chamberName">
                        <small [hidden]="!addHeaderForm.controls.chamberName.hasError('required')" style="color:red;">
                            Chamber Name is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.chamberPhone" class="form-control" placeholder="Phone Number" formControlName="chamberPhone">
                        <small [hidden]="!addHeaderForm.controls.chamberPhone.hasError('required')" style="color:red;">
                            Phone Number is required.
                        </small>                        
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.fax" class="form-control" placeholder="Fax Number" formControlName="fax">                                               
                    </div>
                    <ba-card title="Chamber Address">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="header.chamberAddressLine1" class="form-control" placeholder="Address Line 1" formControlName="chamberAddressLine1">
                            <small [hidden]="!addHeaderForm.controls.chamberAddressLine1.hasError('required')" style="color:red;">
                                Address Line 1 is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="header.chamberAddressLine2" class="form-control" placeholder="Address Line 2" formControlName="chamberAddressLine2">                            
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="header.chamberAddressLine3" class="form-control" placeholder="Address Line 3" formControlName="chamberAddressLine3">                            
                        </div>
                    </ba-card>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="header.email" class="form-control" placeholder="Chamber E-mail Address" formControlName="email">
                        <small [hidden]="!addHeaderForm.controls.email.hasError('pattern')" style="color:red;">
                            E-mail entered is invalid.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="header.website" class="form-control" placeholder="Chamber Website" formControlName="website">
                        <small [hidden]="!addHeaderForm.controls.website.hasError('pattern')" style="color:red;">
                            Website entered is invalid.
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="header.timings" class="form-control" placeholder="Visiting Days & Time" formControlName="dayTime">
                        <small [hidden]="!addHeaderForm.controls.dayTime.hasError('required')" style="color:red;">
                            Visiting Days and Hours is required.
                        </small>                        
                    </div>
                </div>
            </ba-card>

            <div class="row form-group">
                <div class="col-sm-12 text-center">
                    <button type="button" (click)="SaveHeader(addHeaderForm.value, addHeaderForm.valid)" class="btn btn-success btn-md center-block" Style="width: 100px; margin-right :5px;" [disabled]="!addHeaderForm.valid">Save</button>
                    <button type="button" (click)="Reset()" class="btn btn-warning btn-md center-block" Style="width: 100px; margin-left :5px;">Reset</button>
                </div>
            </div>
        </div>        
    </ba-card>
</form>

